<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="高雄公共自行車租賃站資訊" />
    <meta name="author" content="ツキノリュウ" />
    <title>高雄公共自行車租賃站資訊</title>
    <!-- leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="anonymous" />
    <!-- reboot -->
    <link href="css/bootstrap-reboot.min.css" rel="stylesheet" />
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <!-- css.gg -->
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/spinner-alt.css' rel='stylesheet'>
    <!-- site -->
    <link href="css/main.css" rel="stylesheet" />
    <!-- Vue 3 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@3.0.2/dist/vue.global.prod.js"></script>
</head>

<body>
    <div id="app">
        <div class="loading" v-if="isLoading">
            <transition name="scale" mode="out-in" appear>
                <div class="message" v-if="showMessage" v-cloak>{{ message }}</div>
                <i class="gg-spinner-alt" v-else></i>
            </transition>
        </div>
        <main id="map"></main>
        <footer class="footer">
            <select class="sareaSelector" name="sareaSelector" v-model="selectCurrentSarea" @change="showMarker">
                <option value="0" hidden>請選擇欲查詢的區域</option>
                <option :value="item" v-for="(item, index) in totalSarea" :key="index">{{ item }}</option>
            </select>
            <div class="footer__status">可租借狀況<span class="color-red">稀少</span><span class="color-yellow">中等</span><span
                    class="color-green">正常</span></div>
            <div class="footer__copyright">
                &copy; 2020<span v-if="currentYear !== 2020"> - {{ currentYear }}</span> Design &amp; Coding by ツキノリュウ.
            </div>
        </footer>
    </div>

    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- leaflet -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin="anonymous"></script>
    <!-- site -->
    <script src="js/main.js"></script>
</body>

</html>
